<%= form_for :leader, url: leader_index_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit %>
  </p>
 <p>
  <%= link_to 'Leaders', leader_index_path%>
  <p>
<% end %>